/* FONTS */
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/montserrat/Montserrat-Black.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Black.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Regular.woff") format("woff");
}

/* HEADER STUFF */

.site-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #393E46;
}

/* SITENAME STUFF */

#sitename-href {
  float: left;
  margin: 0.5rem 1rem 0.5rem 1.5rem;
  height: 3.5rem;
  color: #eee;
  font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 200%;
  text-transform: capitalize;
  text-decoration: none;
  overflow: hidden;
}

#sitename {
  transition: transform ease 0.5s;
}

/* transition from sitename to author */
#sitename-text-p {
  color: #32E0C4;
  position: relative;
  top: 0.5rem;
  transition: top ease 0.5s;
  user-select:none;
}
#sitename-text-kyle {
  position: relative;
  top: 0.5rem;
  right: 0;
  transition: right 0.5s ease, top 0.5s ease;
  user-select:none;
}
#sitename-text-dot {
  color: #32E0C4;
  position: relative;
  bottom: -0.5rem;
  transition: bottom ease 0.3s;
  user-select:none;
}
#sitename-text-me {
  position: relative;
  bottom: -0.5rem;
  transition: bottom ease 0.5s;
  user-select:none;
}
#sitename-text-hillips {
  color: #32E0C4;
  position: relative;
  top: 1rem;
  left: 1.4rem;
  user-select:none;
}
#sitename-text-hillips-pos {
  position: relative;
  bottom: 0;
  padding-bottom: 0rem;
  transition: bottom ease 0.5s;
}
@media screen and (min-width: 600px) {
  #sitename:hover {
    bottom: 0.5rem;
    transform: translateY(-0.5rem);
  }

  #sitename:hover > #sitename-text-p {
    top: 1.75rem;
  }

  #sitename:hover > #sitename-text-kyle {
    right: 1.5rem;
    top: 0.2rem;
  }

  #sitename:hover > #sitename-text-me {
    bottom: 1.8rem;
  }

  #sitename:hover > #sitename-text-dot {
    bottom: 1.8rem;
  }

  #sitename:hover > #sitename-text-hillips-pos {
    bottom: 1.7rem;
  }
}

/* BODY STUFF */
body {
  background-color: #222831;
  margin: 0;
  padding: 0;
}

main {
  margin: 15px;
}

h1 {font-weight: 500; font-size: x-large}

h1, li {
  font-family: 'Montserrat', sans-serif;
  color: #eee;
}

a:link {
  color: #32E0C4;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:visited {
  color: #8377D1;
}
a:hover {
  text-decoration: underline;
}

/* light theme support */
@media (prefers-color-scheme: light) {
  .site-header {
    background-color: #E6E6E6;
  }
  #sitename-href {
    color: #393E46;
  }
  #sitename-text-p, #sitename-text-dot, #sitename-text-hillips {
    color: #247FDB;
  }
  body {
    background-color: #fff;
  }
  h1, li {
    color: #393E46;
  }
  a:link {
    color: #247FDB;
  }
}
