@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Medium.woff") format("woff");
}

:root {
  --background-color: #fffbfa;
  --header-color: #08415c;
  --footer-color: #dddddd;
  --text-color: #000000;
  --label-color: #999999;
  --nav-link-color: #fffbfa;
  --button-text-color: #c7eafa;
  --highlight-color: #1fb2c2;
  --link-visited-color: #0d6993;
  --footer-text-color: #444;
}

/* dark theme support */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #040404;
    --footer-color: #141414;
    --text-color: #ffffff;
    --label-color: #404040;
    --button-text-color: #c7eafa;
    --highlight-color: #1fb2c2;
    --link-visited-color: #0d6993;
    --footer-text-color: #888;
  }
}

html {
  scroll-behavior: smooth;
}

:target::before {
  content: "";
  display: block;
  height: 5rem; /* fixed header height*/
  margin-top: -5rem; /* negative fixed header height */
}

body {
  margin: 0;
  background-color: var(--background-color);
}

header {
  position: fixed;
  top: 0;
  min-height: 4rem;
  width: 100vw;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
}

@media (max-width: 600px) {
  header {
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.logo {
  width: auto;
  max-width: 100vw;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  user-select: none;
}

.logo > img {
  width: auto;
  height: 2.5rem;
  text-align: center;
  margin: 10px 0 10px 0px;
}

.logo-svg {
  font-size: medium;
  height: 4rem;
  max-width: 60vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 200px) {
  .logo > img {
    width: 15vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .logo-svg {
    max-width: none;
    width: auto;
  }
}

svg > text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12pt;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
  color: var(--nav-link-color);
  text-decoration: none;
}

nav {
  padding: 0 50px 0 0;
}

@media (max-width: 600px) {
  nav {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  padding: 0;
  width: 32ch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  nav > ul {
    margin-top: 0;
    flex-direction: column;
  }
}

main {
  margin: 100px auto 0 auto;
  width: 80%;
  max-width: 1200px;
  color: var(--text-color);
}

@media (max-width: 600px) {
  main {
    margin: 200px auto 0 auto;
  }
}

h1,
h2,
h3,
li,
button,
input,
label,
p {
  text-align: center;
  font-family: "Montserrat";
}

a:link {
  color: var(--highlight-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-visited-color);
  text-decoration: underline;
}
a:visited {
  color: var(--link-visited-color);
  text-decoration: none;
}

#about {
  width: 70%;
  margin: 0 auto;
}
#about-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  #about {
    width: 100%;
  }
  #about-section {
    flex-direction: column;
  }
}

.about-container {
  margin: 6px;
  flex-basis: 30%;
}

.about-container > img {
  display: block;
  width: 8rem;
  margin: auto;
}

#demo-section {
  display: flex;
}
iframe {
  margin: 0 auto;
}

#pricing {
  margin-top: 60px;
}

#pricing-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
}

.plan > .level {
  text-align: center;
  font-family: "Montserrat";
  color: var(--button-text-color);

  margin: 15px 0;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--header-color);
  border: 0;
  border-radius: 15px;
}

.plan > h2 {
  margin: 0;
}

.plan > h3 {
  margin: 5px 0 0 0;
  font-style: italic;
  color: var(--highlight-color);
}

.plan > ol {
  margin: 10px 0;
  padding: 0;
}

.plan > ol > li {
  padding: 5px 0;
}

.plan > button:hover {
  background-color: var(--highlight-color);
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing-section {
    flex-direction: column;
  }
  .plan {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.btn {
  padding: 0 20px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

#subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#subscribe-form > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#subscribe-form input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin: 0 0 15px 0;
}

#subscribe-form input[type="submit"] {
  max-width: 150px;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  color: var(--button-text-color);

  margin: 15px 0;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--header-color);
  border: 0;
  border-radius: 15px;
}

#subscribe-form input[type="submit"]:hover {
  background-color: var(--highlight-color);
  transition: background-color 1s;
}

label {
  color: var(--label-color);
}

footer {
  margin-top: 30px;
  background-color: var(--footer-color);
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > p {
  margin-top: 5px;
  display: block;
  text-align: end;
  font-size: 0.9em;
  color: var(--footer-text-color);
}

footer > p > a {
  margin: 0 0.5ch;
}
