/*
https://www.color-hex.com/color-palette/2738
*/
@font-face {
  font-family: "sniglet";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/sniglet/Sniglet-ExtraBold.woff2") format("woff2"),
    url("/fonts/sniglet/Sniglet-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "sniglet";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/sniglet/Sniglet-Regular.woff2") format("woff2"),
    url("/fonts/sniglet/Sniglet-Regular.woff") format("woff");
}

#card-wrapper {
  position: relative;
  min-width: 200px;
  max-width: 600px;
  width: 75vw;
  height: 50vh;
  margin: 0 auto;
  padding: 25px 25px;

  border-radius: 14px;
  background: rgba(16, 18, 27, 0.07);
  background-size: cover;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2px);
  z-index:10000;

  overflow-y: scroll;
  overflow-x: hidden;
}

#survey-form {
  position: relative;
  text-align: center;
}

#title {
  font-family: 'sniglet', sans-serif;
  font-weight: 800;
  font-size: 4em;
  color: #FFF;
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0;
}

#description {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}


body {
  height: 100vh;
  width: 100vw;
  background-color: #0f5e9c;
  background-image: linear-gradient(#74ccf4, #5ab7d9, #1ca1eb, #2389da, #0f5e9c);
  padding:0;
  margin:0;
  overflow: hidden;
}

main {
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 9999;
  overflow-y: hidden;
}

footer {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  text-align: center;
  z-index: 10001;
}

p {
  font-family: 'sniglet', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #FFF;
  text-align: center;
}

a {
  color: white;
  opacity: 0.4;
}

label {
  font-family: 'sniglet', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #FFF;
}

input, textarea, button {
  margin: 1em 1em 2em 1em;
  padding: 10px 20px;
  border-radius: 50px;
}

select {
  margin: 1em 1em 2em 1em;
  padding: 10px 20px;
  border-radius: 5px;
}

.button {
  margin: 1rem 0;
  font-family: 'sniglet', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  text-align: center;
  display: inline-block;
  width: auto;
  max-width: 90%;
  border: none;
	outline: none;
	color: #FFF;
	background: rgba(70,160,200,0.4);
  box-shadow: 0 3px 20px 0 rgba(200,200,200,0.1);
}

.button:active {
  box-shadow: inset 0 3px 20px 0 rgba(0,0,0,0.1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  font-weight: lighter;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbb;
  font-weight: lighter;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbb;
  font-weight: lighter;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 2em;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Bubbles */

#bubbles {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: transparent;
  align-items: center;
  justify-content:space-around ;
  position: absolute;
}

.bubble {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}

.b1 {
  left: 16vw;

    -webkit-transform: scale(0.44);
    -moz-transform: scale(0.44);
    transform: scale(0.44);

    -webkit-animation: raiseBubbles 3s linear infinite, swayBubbles 4s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 3s linear infinite, swayBubbles 4s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 3s linear infinite, swayBubbles 4s ease-in-out infinite alternate;
}

.b2 {
    left: 55vw;
    -webkit-transform: scale(0.36);
    -moz-transform: scale(0.36);
    transform: scale(0.36);

    -webkit-animation: raiseBubbles 4s linear infinite, swayBubbles 5s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 4s linear infinite, swayBubbles 5s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 4s linear infinite, swayBubbles 5s ease-in-out infinite alternate;
}
.b3 {
    left: 78vw;
    -webkit-transform: scale(0.34);
    -moz-transform: scale(0.34);
    transform: scale(0.34);

    -webkit-animation: raiseBubbles 5s linear infinite, swayBubbles 9s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 5s linear infinite, swayBubbles 9s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 5s linear infinite, swayBubbles 9s ease-in-out infinite alternate;
}
.b4 {
    left: 22vw;
    -webkit-transform: scale(0.32);
    -moz-transform: scale(0.32);
    transform: scale(0.32);

    -webkit-animation: raiseBubbles 6s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 6s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 6s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
}
.b5 {
    left: 67vw;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);

    -webkit-animation: raiseBubbles 7s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 7s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 7s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
}
.b6 {
    left: 46vw;
    -webkit-transform: scale(0.35);
    -moz-transform: scale(0.35);
    transform: scale(0.35);

    -webkit-animation: raiseBubbles 8s linear infinite, swayBubbles 5s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 8s linear infinite, swayBubbles 5s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 8s linear infinite, swayBubbles 5s ease-in-out infinite alternate;
}
.b7 {
    left: 58vw;
    -webkit-transform: scale(0.27);
    -moz-transform: scale(0.27);
    transform: scale(0.27);

    -webkit-animation: raiseBubbles 9s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 9s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 9s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
}
.b8 {
    left: 29vw;
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    transform: scale(0.25);

    -webkit-animation: raiseBubbles 10s linear infinite, swayBubbles 3s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 10s linear infinite, swayBubbles 3s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 10s linear infinite, swayBubbles 3s ease-in-out infinite alternate;
}
.b9 {
    left: 27vw;
    -webkit-transform: scale(0.32);
    -moz-transform: scale(0.32);
    transform: scale(0.32);

    -webkit-animation: raiseBubbles 11s linear infinite, swayBubbles 4s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 11s linear infinite, swayBubbles 4s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 11s linear infinite, swayBubbles 4s ease-in-out infinite alternate;
}

.b10 {
    left: 57vw;
    -webkit-transform: scale(0.26);
    -moz-transform: scale(0.26);
    transform: scale(0.26);

    -webkit-animation: raiseBubbles 12s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -moz-animation: raiseBubbles 12s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
    -o-animation: raiseBubbles 12s linear infinite, swayBubbles 2s ease-in-out infinite alternate;
}

@-webkit-keyframes raiseBubbles {
    0% {
        top: 100vh;
    }
    100% {
        top: -10vh;
    }
}

@-webkit-keyframes swayBubbles {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes raiseBubbles {
    0% {
        top: 100vh;
    }

    100% {
        top: -10vh;
    }
}

@-moz-keyframes swayBubbles {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes raiseBubbles {
    0% {
        top: 100vh;
    }
    100% {
        top: -10vh;
    }
}

@-o-keyframes swayBubbles {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
